*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width: 100px;
    
    


}
.border{
    border: 1.5px solid transparent;
}
.logo{
      background-image:url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border:hover{
    border: 1.5px solid white;
}
.add_fisrt{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}


.add_second{
 font-size: 1rem;
 margin-left: 3px;

}
.add_icon{
    display: flex;
}
.nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: orange; 
    width: 800px;
    height: 40px;
    border-radius: 5px;
}
.search_select{
    color: black;
    background-color: #76aae0;
    padding: 5px;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    border: none;

    
}
.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;


}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 196, 0);
      border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    color: #0f1111;

}
.nav_search:hover{
    border: 2px solid orange;
}
.country_language>select{
    width: 45px;
    height: 40px;
    justify-content: center;
    border: none;
    border-radius: 5px;


}
.signin{
    font-size: 0.7rem;
}
.nav_second{
    font-size: 0.85rem;
    font-weight: 700;


}
.returns{
    font-size: 0.7rem;

}
.nav_order{
    font-size: 0.85rem;
    font-weight: 700;
}
.cart i {
    font-size: 35px;
}
.cart{
    font-size: 0.85rem;
    font-weight: 700;

}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;


}
.panel_option p{
    display: inline;
    margin-left: 15px;

}
.panel_deals{
    display: inline;
    margin-right: 10px;
}
.panel_option{
    width:  70%;
    font-size: 0.85rem;

}
.panel_deals{
    font-size: 0.9rem;
    font-weight: 700;


}
.here_section{
    background-image: url("images/hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero_message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

    


}
.hero_message a{
    color: #007185;

}
.shop_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.box{
    /* border: 2px solid black; */
    border-radius: 10px;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 15px;


}
.box_image{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem ;
    margin-bottom:1rem ;
}
.box_content{
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.box_content p{
color: #007185;
}
footer{
    margin-top: 15px;
}
.foot_panel1{
    background: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;

}
.foot_panel2{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    height: 500px;

}
ul{
    margin-top: 25px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}
.foot_panel3{
       background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}
.foot_logo{
     background-image:url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.select2{
    display: flex;
}
.foot_panel3 p{
    height:50px;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.foot_panel4{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(9, 2, 27);
    color: white; 
    /* height: ;    */
}
ul{
    margin-top: 25px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: px;
    color: #dddddd;
    text-decoration: underline;
}
.panel5{
      display: flex;
    justify-content: space-evenly;
    background-color:rgb(9, 2, 27);
    color: white;

}
ul{
    margin-top: px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}
.copyright{
 display: flex;
    justify-content: space-evenly;
    background-color:rgb(9, 2, 27);
     border-top: 0.5px solid white;
    color: white; 
    margin-bottom: 25px; 
     
    
}
ul{
    margin-top: px;
}
ul a{
    display: inline-block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}